@mixin anclas{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 18px;
    padding: 7px 13px;
    
}
/*------------------------------------------------MENU------------------------------------------*/
header{
    background-color: $colorMenu;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
        height: 80px;
        width: 100%;
        right: 0;


    .logo{
        margin-top: 20px;
        margin-left: 3%;
        height: 40px;
    }

    .ulinicio{
        float: right;
        margin-right: 20px;
    
    li{
        display: inline-block;
        line-height: 80px;
        margin: 0 px;
    
    a{
       @include anclas;
       text-transform: uppercase;
       transition: all 0.3s ease;
        &:hover{
            background-color: rgb(56, 163, 165);
            transition: 0.5s;
        }
        
    }

}
}

}
 
.check1 {
    font-size: 30px;
    color: blanchedalmond;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  
    /*solo para el celular*/
  }
  
  #check {
    display: none;
  } 
}


