$colorFondo: rgb(128, 237, 153); 
$colorTitulos:  rgb(34, 87, 122); 
$colorTextoParrafos:  rgb(34, 87, 122);
$colorContenedor: rgb(199, 249, 204); 
$colorContenedor-segundario: rgb(56, 163, 165);
$colorMenu:  rgb(34, 87, 122);
$colorH2: rgb(25, 69, 99);
$bordes: 5px solid  rgb(34, 87, 122);
